div {
  background-color: blueviolet;
  text-align: center;
  opacity: 20%;
}
@media all and (max-width: 3840px) {
  div:first-child {
    opacity: 100%;
  }
}
@media all and (max-width: 2560px) {
  div:first-child {
    opacity: 20%;
  }
  div:nth-child(2) {
    opacity: 100%;
  }
}
@media all and (max-width: 1920px) {
  div:first-child,
  div:nth-child(2) {
    opacity: 20%;
  }
  div:nth-child(3) {
    opacity: 100%;
  }
}
@media all and (max-width: 1440px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3) {
    opacity: 20%;
  }
  div:nth-child(4) {
    opacity: 100%;
  }
}
@media all and (max-width: 1280px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    opacity: 20%;
  }
  div:nth-child(5) {
    opacity: 100%;
  }
}
@media all and (max-width: 1200px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5) {
    opacity: 20%;
  }
  div:nth-child(6) {
    opacity: 100%;
  }
}
@media all and (max-width: 1024px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6) {
    opacity: 20%;
  }
  div:nth-child(7) {
    opacity: 100%;
  }
}
@media all and (max-width: 992px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7) {
    opacity: 20%;
  }
  div:nth-child(8) {
    opacity: 100%;
  }
}
@media all and (max-width: 768px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8) {
    opacity: 20%;
  }
  div:nth-child(9) {
    opacity: 100%;
  }
}
@media all and (max-width: 640px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9) {
    opacity: 20%;
  }
  div:nth-child(10) {
    opacity: 100%;
  }
}
@media all and (max-width: 576px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9),
  div:nth-child(10) {
    opacity: 20%;
  }
  div:nth-child(11) {
    opacity: 100%;
  }
}
@media all and (max-width: 480px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    opacity: 20%;
  }
  div:nth-child(12) {
    opacity: 100%;
  }
}
@media all and (max-width: 480px) {
  div:first-child,
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8),
  div:nth-child(9),
  div:nth-child(10),
  div:nth-child(11) {
    opacity: 20%;
  }
  div:last-child {
    opacity: 100%;
  }
}
